# goals.config
# 
# Please see the Labtainer Lab Designer User Guide

#DOC: Controle l'execution des commandes : Choix correct des namespaces
cmd_namespace = boolean : ( _cmd_part1_1_1 or _cmd_part1_1_2)

#DOC: Controle l'execution des commandes : Mise en place correcte de l'isolation du filesystem
cmd_isolation = boolean : (_cmd_part2_1 and _cmd_part2_2 and (_cmd_part2_3_1 or _cmd_part2_3_2) and (_cmd_part2_4_1 or _cmd_part2_4_2 or _cmd_part2_4_3) )

#DOC: Controle l'execution des commandes : Finalisation de l'isolation. Demontage de l'ancien filesystem
cmd_final = boolean : (_cmd_part3_1 and _cmd_part3_2 and (_cmd_part3_3_1 or _cmd_part3_3_2) )

#DOC: Controle l'execution des commandes : Changement de l'utilisateur et protection de la configuration du conteneur
cmd_utilisateur = boolean : (_cmd_part4_1 and _cmd_part4_2)

# Objectifs a atteindre avec l'antivirus

#DOC: Execution de l'antivirus sans privilege sur l'hote
soft_partie1 = boolean : (_soft_part1_1 and _soft_part1_2 and _soft_part1_3 and _soft_part1_4 and _soft_part1_5)
#DOC: Execution de l'antivirus avec privilege sur l'hote
soft_partie2 = boolean : (_soft_part2_1 and _soft_part2_2 and _soft_part2_3 and _soft_part2_4 and _soft_part2_5)
#DOC: Execution de l'antivirus dans la chroot jail
soft_partie3 = boolean : (_soft_part3_1 and _soft_part3_2 and _soft_part3_3 and _soft_part3_4 and _soft_part3_5)
#DOC: Execution de l'antivirus dans le conteneur self-made avec privilege
soft_partie4 = boolean : (_soft_part4_1 and _soft_part4_2 and _soft_part4_3 and _soft_part4_4 and _soft_part4_5 and _soft_part4_6 and _soft_part4_9 and _soft_part4_10)

# Pour les variables de results.config ou il y a STRING_COUNT, on compare combien il a compte d'occurrences de la variable.

#DOC: Une des conditions de reussite de la partie 4. Si Y alors reussite
comptage_occ_1 = matchany : integer_equal : _soft_part4_7 : answer=2
#DOC: Une des conditions de reussite de la partie 4. Si Y alors reussite
comptage_occ_2 = matchany : integer_equal : _soft_part4_8 : answer=2

#DOC: Execution de l'antivirus dans le conteneur self-made sans privilege
soft_partie5 = boolean : (_soft_part5_1 and _soft_part5_2 and _soft_part5_3 and _soft_part5_4 and _soft_part5_6 and _soft_part5_7)
#DOC: Une des conditions de reussite de la partie 5. Si Y alors reussite
comptage_occ_3 = matchany : integer_equal : _soft_part5_5 : answer=2
